%container {
    margin: 0 auto !important;
    width: 100%;

    @media (min-width: 1024px) {
        max-width: 1180px;
    }

    @media (max-width: 440px) {
        max-width: 370px;
    }
}

$large: 1024px;
$tablet: 770px;
$mobile-large: 440px;
$mobile-small: 395px;

@mixin pc {
    @media screen and (min-width: $large) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-large {
    @media screen and (max-width: $mobile-large) {
        @content;
    }
}

@mixin mobile-large-min {
    @media screen and (min-width: $mobile-large) {
        @content;
    }
}

@mixin mobile-small {
    @media screen and (max-width: $mobile-small) {
        @content;
    }
}

@mixin mobile-small-min {
    @media screen and (max-width: $mobile-small) {
        @content;
    }
}
